Node-RED/flows.json
[
    {
        "id": "d99ca802.0da3f8",
        "type": "tab",
        "label": "Lernfabrik4.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95168906.c4eb78",
        "type": "ui_button",
        "z": "d99ca802.0da3f8",
        "name": "WHITE",
        "group": "9403be56.33507",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "WHITE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"type\":\"WHITE\"}",
        "payloadType": "json",
        "topic": "f/o/order",
        "x": 260,
        "y": 940,
        "wires": [
            [
                "5ba5d9ce.58b0c8"
            ]
        ]
    },
    {
        "id": "cd56d7c2.7261d8",
        "type": "ui_button",
        "z": "d99ca802.0da3f8",
        "name": "RED",
        "group": "9403be56.33507",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "RED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"type\":\"RED\"}",
        "payloadType": "json",
        "topic": "f/o/order",
        "x": 250,
        "y": 980,
        "wires": [
            [
                "5ba5d9ce.58b0c8"
            ]
        ]
    },
    {
        "id": "c46e8942.a21ff8",
        "type": "ui_button",
        "z": "d99ca802.0da3f8",
        "name": "BLUE",
        "group": "9403be56.33507",
        "order": 3,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "BLUE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"type\":\"BLUE\"}",
        "payloadType": "json",
        "topic": "f/o/order",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "5ba5d9ce.58b0c8"
            ]
        ]
    },
    {
        "id": "e1b6409a.a46b3",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 920,
        "wires": []
    },
    {
        "id": "5ba5d9ce.58b0c8",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "+ts UTC ISO8301",
        "func": "var ts = new Date().toISOString();\nmsg.payload[\"ts\"] = ts;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 940,
        "wires": [
            [
                "e1b6409a.a46b3",
                "cdb79f47.6ed15"
            ]
        ]
    },
    {
        "id": "cdb79f47.6ed15",
        "type": "mqtt out",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "f/o/order",
        "qos": "0",
        "retain": "",
        "broker": "fa600c20.8a9c9",
        "x": 820,
        "y": 940,
        "wires": []
    },
    {
        "id": "302802fa.a7166e",
        "type": "inject",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "95168906.c4eb78"
            ]
        ]
    },
    {
        "id": "e6cbfaf3.d5ca48",
        "type": "inject",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 980,
        "wires": [
            [
                "cd56d7c2.7261d8"
            ]
        ]
    },
    {
        "id": "f6753d31.9b5eb",
        "type": "inject",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "c46e8942.a21ff8"
            ]
        ]
    },
    {
        "id": "5cd64e31.be149",
        "type": "mqtt in",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "i/bme680",
        "qos": "0",
        "datatype": "json",
        "broker": "fa600c20.8a9c9",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "90adb501.37fd88",
                "a7a3d38d.0d805",
                "64bf8c65.2ca234",
                "4f1bfd54.a41194",
                "da0b8106.7b055",
                "3af3a33c.c0c18c",
                "9e139b3e.82edf8"
            ]
        ]
    },
    {
        "id": "4c1fa6e3.985a68",
        "type": "ui_chart",
        "z": "d99ca802.0da3f8",
        "name": "",
        "group": "25e0d20d.12eefe",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "90adb501.37fd88",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "temp",
        "func": "msg.payload = msg.payload.t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "4c1fa6e3.985a68",
                "f154c45b.dc1eb8",
                "7289e747.9b4108"
            ]
        ]
    },
    {
        "id": "f154c45b.dc1eb8",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "t",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "a7a3d38d.0d805",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "64bf8c65.2ca234",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "humidity",
        "func": "msg.payload = msg.payload.h;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "a32132c0.d6f84",
                "cf59797.c9a0088",
                "5a51db3.2f24024"
            ]
        ]
    },
    {
        "id": "a32132c0.d6f84",
        "type": "ui_chart",
        "z": "d99ca802.0da3f8",
        "name": "",
        "group": "c0ed767.7374988",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf59797.c9a0088",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "h",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f1bfd54.a41194",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "pressure",
        "func": "msg.payload = msg.payload.p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "2d7e7920.819fb6",
                "880a095d.70a0b8",
                "ff8e8f8e.e72"
            ]
        ]
    },
    {
        "id": "da0b8106.7b055",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "air quality index",
        "func": "msg.payload = msg.payload.iaq;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "5a3ca68e.6cf908",
                "31a14b2a.793264",
                "ae43a7e7.0bfd58"
            ]
        ]
    },
    {
        "id": "fb71edad.77334",
        "type": "comment",
        "z": "d99ca802.0da3f8",
        "name": "MQTT topics",
        "info": "https://github.com/fischertechnik/txt_training_factory/blob/master/TxtSmartFactoryLib/doc/MqttInterface.md\n",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "f41fe30b.dd79d",
        "type": "mqtt out",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "c/bme680",
        "qos": "0",
        "retain": "",
        "broker": "fa600c20.8a9c9",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "b03cab69.e59ce8",
        "type": "inject",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "",
        "payload": "{\"period\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 820,
        "wires": [
            [
                "7f7d2518.81591c"
            ]
        ]
    },
    {
        "id": "9e139b3e.82edf8",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "timestamp",
        "func": "var date = new Date(msg.payload.ts);\nmsg.payload = date.toLocaleString('de-DE');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "c4562845.01d648",
                "33703eac.9fc6a2"
            ]
        ]
    },
    {
        "id": "3af3a33c.c0c18c",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "air quality score",
        "func": "msg.payload = msg.payload.aq;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "9c0a308.1e32fd",
                "f9d262ae.a967c"
            ]
        ]
    },
    {
        "id": "880a095d.70a0b8",
        "type": "ui_chart",
        "z": "d99ca802.0da3f8",
        "name": "",
        "group": "e928c4b3.04eb18",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Luftdruck",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2d7e7920.819fb6",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "p",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "31a14b2a.793264",
        "type": "ui_chart",
        "z": "d99ca802.0da3f8",
        "name": "",
        "group": "e67f6a50.c23a18",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "IAQ",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#808080",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 810,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5a3ca68e.6cf908",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "iaq",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c0a308.1e32fd",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "aq",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "81a1f422.5b5578",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "7f7d2518.81591c",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "+ts UTC ISO8301",
        "func": "var ts = new Date().toISOString();\nmsg.payload[\"ts\"] = ts;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 820,
        "wires": [
            [
                "f41fe30b.dd79d",
                "81a1f422.5b5578"
            ]
        ]
    },
    {
        "id": "c4562845.01d648",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "ts",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "33703eac.9fc6a2",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "25e0d20d.12eefe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "timestamp",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "b355756.8a49388",
        "type": "ui_template",
        "z": "d99ca802.0da3f8",
        "group": "269d9bd9.87bff4",
        "name": "Kamerabild",
        "order": 1,
        "width": 8,
        "height": 6,
        "format": "<img src=\"{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "fa038b47.d0ae88",
        "type": "mqtt in",
        "z": "d99ca802.0da3f8",
        "name": "",
        "topic": "i/cam",
        "qos": "0",
        "datatype": "json",
        "broker": "fa600c20.8a9c9",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "415afe1d.9c93",
                "d03fb41.9611448"
            ]
        ]
    },
    {
        "id": "415afe1d.9c93",
        "type": "debug",
        "z": "d99ca802.0da3f8",
        "name": "raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "d03fb41.9611448",
        "type": "function",
        "z": "d99ca802.0da3f8",
        "name": "data",
        "func": "msg.payload = msg.payload.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "b355756.8a49388"
            ]
        ]
    },
    {
        "id": "7289e747.9b4108",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "25e0d20d.12eefe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-left",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a51db3.2f24024",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "c0ed767.7374988",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luftfeuchtigkeit",
        "format": "{{msg.payload}} % r.H.",
        "layout": "row-left",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "ff8e8f8e.e72",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "e928c4b3.04eb18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luftdruck",
        "format": "{{msg.payload}} hPa",
        "layout": "row-left",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae43a7e7.0bfd58",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "e67f6a50.c23a18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luftqualität",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "f9d262ae.a967c",
        "type": "ui_text",
        "z": "d99ca802.0da3f8",
        "group": "e67f6a50.c23a18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IAQ Genauigkeit",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "9403be56.33507",
        "type": "ui_group",
        "z": "",
        "name": "Bestellansicht",
        "tab": "61bbcb7d.153964",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": true
    },
    {
        "id": "fa600c20.8a9c9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "Node-RED",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "25e0d20d.12eefe",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring - Temperatur",
        "tab": "61bbcb7d.153964",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": true
    },
    {
        "id": "c0ed767.7374988",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring - Luftfeuchtigkeit",
        "tab": "61bbcb7d.153964",
        "order": 4,
        "disp": true,
        "width": 9,
        "collapse": true
    },
    {
        "id": "e928c4b3.04eb18",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring - Luftdruck",
        "tab": "61bbcb7d.153964",
        "order": 5,
        "disp": true,
        "width": 9,
        "collapse": true
    },
    {
        "id": "e67f6a50.c23a18",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring - Luftqualität",
        "tab": "61bbcb7d.153964",
        "order": 6,
        "disp": true,
        "width": 9,
        "collapse": true
    },
    {
        "id": "269d9bd9.87bff4",
        "type": "ui_group",
        "z": "",
        "name": "Kamera",
        "tab": "61bbcb7d.153964",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "61bbcb7d.153964",
        "type": "ui_tab",
        "z": "",
        "name": "Lernfabrik 4.0",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
